*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* body{
    background-color: black;
    height: 100vh;
    position: relative;
} */
.digitalClock{
    color: #fff;
    font-size: 60px;
    font-family: 'Orbitron', sans-serif;
    color: #17d4fe;
    text-shadow: 2px 2px 20px #17d4fe;
}
/* .digitalClock{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */